<nav>
  <div>logo</div>
  <ul>
    <li
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      home
    </li>
    <li
      *ngIf="!isloggedIn"
      [routerLink]="['/login']"
      routerLinkActive="active"
    >
    login
    </li>
    <li
      *ngIf="isloggedIn"
    >
    <button mat-button type="button" (click)="logout()"> logout </button>
    </li>
    <li
      *ngIf="!isloggedIn"
      [routerLink]="['/signup']"
      routerLinkActive="active"
    >
    signup
    </li>
  </ul>
</nav>
