<nav [ngClass]="{'flex-nav': flexControler({'sd': true,'default': false})}">
  <div>
    <p>LOGO</p>
    <button mat-icon-button class="button-menu" (click)="toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <ul [ngClass]="{'menu-animation' : toggleMenu}">
    <li
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </li>
    <li
      [routerLink]="['/profile']"
      routerLinkActive="active"
    >
      Profile
    </li>
    <li
      *ngIf="!isloggedIn"
      [routerLink]="['/login']"
      routerLinkActive="active"
    >
    login
    </li>
    <li
      *ngIf="isloggedIn"
      (click)="logout()"
    >
    logout
    </li>
    <li
      *ngIf="!isloggedIn"
      [routerLink]="['/signup']"
      routerLinkActive="active"
    >
    signup
    </li>
  </ul>
</nav>
