<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>username</mat-label>
    <input formControlName="username" matInput />
    <mat-error *ngIf="getFormControl('username')?.invalid && getFormControl('username')?.touched">
      <span *ngIf="getErrorsControl('username', 'required')">
        Password is <strong>required</strong>
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="getFormControl('password')?.invalid && getFormControl('password')?.touched">
      <span *ngIf="getErrorsControl('password', 'required')">
        Password is <strong>required</strong>
      </span>
    </mat-error>
  </mat-form-field>

  <button type="submit" [disabled]="!loginForm.valid" mat-button color="accent">Accent</button>
</form>
