<mat-form-field appearance="fill">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input />
  <button
  *ngIf="input.value"
  matSuffix
  mat-icon-button
  (click)="input.value = ''; applyFilter($event)"
  >
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>

<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8 demo-table"
  >
    <ng-container *ngFor="let arg of displayedColumns" [matColumnDef]="arg">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>{{ arg }}</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{ row[arg] }}</mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      class="clickable"
      mat-row
      [routerLink]="[type + '/' + row.id]"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
    aria-label="Select page"
  ></mat-paginator>
</div>
