main{

  padding: 20px 30px;

  h1{
    padding: 10px 15px;
  }

  section{
    mat-grid-list{
      padding:  10px 15px;
    }

    mat-icon{
      background-color: greenyellow;
      padding: 10px;
      border-radius: 50%;
    }
  }
}
